/* In a CSS file or within tailwind.config.js */
.scrollbar-thin {
    scrollbar-width: thin; /* For Firefox */
  }
  
  .scrollbar-thumb-gray-700::-webkit-scrollbar-thumb {
    background-color: #4b5563; /* Tailwind gray-700 */
  }
  
  .scrollbar-track-gray-800::-webkit-scrollbar-track {
    background-color: #1f2937; /* Tailwind gray-800 */
  }
  